@model Employee;
<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <div>
            <h1>Employee @Model.EmployeeName Saved Successfully</h1>
        </div>
    </body>
</html>